################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CIA
/CIA.Core/bin/Debug/net5.0
/CIA/obj
/CIA/bin/Debug/net5.0
/CIA.Core/obj
/CIA.sln
